
/* You can add global styles to this file, and also import other style files */
body {
    
    background-color: #ccc;
    background-size: 100% 100%;
    
}
html {
    height: 100%
}

.rowSpace{
    margin: 10px;
  }

  .table-bordered{
    border-color: blue;
  }

.title{ 
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
